
<ion-header>

  <ion-navbar>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content  class="img">
 <!--<ion-card>-->
  
  <ion-card-header>
    
  </ion-card-header> 
  
<ion-card>
   <ion-list>
  <ion-card-content>
   
     </ion-card-content>
  </ion-list>
   </ion-card>
 

</ion-content>


