
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img" >

    <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>

 <!--<p>{{deviceInfo | json}}</p>-->
  <b style=" color: white;">UUID: {{this.deviceInfo.id}}</b>
  <!--<button ion-button (click)="getInfo()">Default</button>-->

   <form  [formGroup]="loginForm">
  <ion-card-header>
    
  </ion-card-header> 
 <ion-card>
   <ion-list >
 
  
  <ion-item class="item" >
    <!--<ion-label fixed>Mobile Number</ion-label>-->
    <ion-input type="text" placeholder="Mobile Number" formControlName= "msisdn"  name="msisdn" [class.invalid]="!loginForm.controls.msisdn.valid && (loginForm.controls.msisdn.dirty || submitAttempt)"></ion-input>
    <ion-label> <ion-icon name="ios-phone-portrait"></ion-icon></ion-label>
  </ion-item>

   <p  *ngIf="!loginForm.controls.msisdn.valid  && (loginForm.controls.msisdn.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid number.</b>
                </p>
  <br/>

   <ion-item class="item" >
    <!--<ion-label fixed>PIN</ion-label>-->
    <ion-input type="password" placeholder="Enter your ALEXpay PIN" formControlName= "pin"  name="pin" [class.invalid]="!loginForm.controls.pin.valid && (loginForm.controls.pin.dirty || submitAttempt)"></ion-input>
  
     <ion-label> <ion-icon name="ios-unlock"></ion-icon></ion-label>
  </ion-item>

   <p  *ngIf="!loginForm.controls.pin.valid  && (loginForm.controls.pin.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid ALEXpay PIN.</b>
                </p>
  
  <br/>
 

 <br/>
 <br/>
 <p class="pad">  <button ion-button color="dark" [disabled]="!this.loginForm.valid" (tap)="login()">  Login </button>
</p>
</ion-list>

 <br/>
  <br/>
 

 <br/>
 <br/>

 <br/>
 <br/>
  <br/>
 <br/>



 <p><b style=" color: white;"><h4 style=" color: white;">Forgotten your ALEXpay PIN ? click <a href="" (tap)="pin1()">Here</a>  
   
   
   </h4> </b> </p>
   
   <!--<button ion-button color="dark" (tap)="pin1()">  here </button>-->
 </ion-card>
</form>
</ion-content>

