
<ion-header>

  <ion-navbar>
    <ion-title>Bill Payment</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img" >

   <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>



   <form [formGroup]="billForm"  >
  <ion-card-header>
    
  </ion-card-header> 
<ion-card>
   <ion-list >
 
  

<ion-item  *ngIf="telco == 'VOD'">
 
    <ion-input type="text" placeholder="Enter voucher code" formControlName= "voucher_code"  name="voucher_code" [class.invalid]="!billForm.controls.voucher_code.valid && (billForm.controls.voucher_code.dirty || submitAttempt)"></ion-input>
 <ion-label> <ion-icon ios="ios-code" md="md-code"></ion-icon></ion-label>
  </ion-item>

   <p  *ngIf="!billForm.controls.voucher_code.valid  && (billForm.controls.voucher_code.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid voucher code.</b>
                </p>

 <br/>


  <br/>

   <ion-item> 

 <ion-label> Bill type</ion-label>
  <ion-select    formControlName= "bill_type"  name="bill_type" [class.invalid]="!billForm.controls.bill_type.valid && (billForm.controls.bill_type.dirty || submitAttempt)">
     <ion-option formControlName= "bill_type" name="bill_type" value="DST" ngDefaultControl>DSTV</ion-option>
     <ion-option formControlName= "bill_type" name="bill_type" value="GOT" ngDefaultControl>GOTV</ion-option>
   
  </ion-select>
</ion-item>
 <br/>

  <ion-item>
  
    <ion-input type="text" placeholder="Enter smart card number" formControlName= "smart_card_num"  name="smart_card_num" [class.invalid]="!billForm.controls.smart_card_num.valid && (billForm.controls.smart_card_num.dirty || submitAttempt)"></ion-input>
  <ion-label> <ion-icon ios="ios-code" md="md-code"></ion-icon></ion-label>
  </ion-item>

   <p  *ngIf="!billForm.controls.smart_card_num.valid  && (billForm.controls.smart_card_num.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid smart card number.</b>
                </p>

 
  <br/>
   <ion-item>
  
    <ion-input type="text"placeholder="Enter amount" formControlName= "amount"  name="amount" [class.invalid]="!billForm.controls.amount.valid && (billForm.controls.amount.dirty || submitAttempt)"></ion-input>
     <ion-label> <ion-icon ios="ios-cash" md="md-cash"></ion-icon></ion-label>
  </ion-item>

   <p  *ngIf="!billForm.controls.amount.valid  && (billForm.controls.amount.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid amount.</b>
                </p>
  

 <br/>
 <br/>

  <p class="pad">  <button ion-button color="dark" [disabled]="!this.billForm.valid" (tap)="summary()">  Pay Bill  </button>
     <p   *ngIf="telco == 'VOD'">  <button ion-button color="dark" (tap)="call('*110#')" >  Generate Voucher code </button>
</p>
</ion-list>
</ion-card>

</form>
</ion-content>

