<ion-tabs>
  <ion-tab [root]="tab1Root"  tabTitle="Home" tabIcon="home" [rootParams]="from_login"></ion-tab>
  <!--<ion-tab [root]="tab2Root" tabTitle="History " tabIcon="information-circle" [rootParams]="from_login"></ion-tab>-->
  <ion-tab [root]="tab3Root" tabTitle="Contact Us" tabIcon="contacts"></ion-tab>
</ion-tabs>
