
<ion-header>

  <ion-navbar>
    <ion-title>Customer Balance</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img">

    <ion-card-header class="pad">
   <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>
 <!--<ion-card>-->
   <form >
  <ion-card-header>
    
  </ion-card-header> 
<ion-card>
   <ion-list>
 
  
  <ion-item>
    
    <ion-input type="password" placeholder="Enter ALEXpay PIN" [(ngModel)]="params.pin" name="pin"></ion-input>
  </ion-item>
  
  <br/>
 

 <br/>
 <br/>

  <p class="pad">  <button ion-button color="dark"  (tap)="balance()" >  Check My Account Balance</button>
</p>
</ion-list>
</ion-card>
</form>
</ion-content>

