<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/icon/he.jpg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>


<ion-content >
  <ion-slides #mySlider autoplay="1000" loop="true" speed="2000" autoplayDisableOnInteraction= "false" zoom="true" pager>


  <ion-slide class="img4">
   
    
    <div class="card-title" (tap)="skip()"><ion-icon name="fastforward">Skip</ion-icon></div>
    
  </ion-slide>


   <ion-slide class="img3">

   
  <div class="card-title" (tap)="skip()"><ion-icon name="fastforward">Skip</ion-icon></div>
   
  </ion-slide>

   <ion-slide class="img2">

   
      <div class="card-title" (tap)="skip()"><ion-icon name="fastforward">Skip</ion-icon></div>
   
  </ion-slide>

    <ion-slide class="img">

   
      <div class="card-title" (tap)="skip()"><ion-icon name="fastforward">Skip</ion-icon></div>
   
  </ion-slide>



</ion-slides>

</ion-content>
