<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img">
  <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px" />
  </ion-card-header>


  <form>

    <ion-card-content>
      <ion-card>
        <ion-grid>
          <ion-row>

            <ion-col col-3>
              <h4><img src="assets/icon/pro1.svg" /></h4>
            </ion-col>


            <ion-col col-9>
              <ion-item>
                <h4>{{first_name}} {{last_name}}</h4>
                <p> {{mobile}}</p>

              </ion-item>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-card-content>


    <ion-card-content>
      <ion-card>
        <ion-grid>
          <ion-row>


            <ion-item>
              <ion-input type="password" placeholder="Enter old PIN" [(ngModel)]="params.pin" name="pin"></ion-input>
              <ion-label>
                <ion-icon name="ios-unlock"></ion-icon>
              </ion-label>


            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Enter new PIN" [(ngModel)]="params.new_pin" name="new_pin"></ion-input>
              <ion-label>
                <ion-icon name="ios-unlock"></ion-icon>
              </ion-label>


            </ion-item>


          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-card-content>



    <br/>


    <p class="pad"> <button ion-button color="dark" (tap)="profile()">  Submit </button>
    </p>

   
  </form>
</ion-content>