<ion-header>

  <ion-navbar>
    <ion-title>Airtime to self</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img">

  <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px" />
  </ion-card-header>


  <form [formGroup]="airtimeForm">
    <ion-card-header>

    </ion-card-header>
    <ion-card>
      <ion-list>

        <ion-item *ngIf=" telco == 'VOD'">

          <ion-input type="text" placeholder="Enter voucher code" formControlName="voucher_code" name="voucher_code" [class.invalid]="!airtimeForm.controls.voucher_code.valid && (airtimeForm.controls.voucher_code.dirty || submitAttempt)"></ion-input>
          <ion-label>
            <ion-icon ios="ios-code" md="md-code"></ion-icon>
          </ion-label>
        </ion-item>

        <p *ngIf="!airtimeForm.controls.voucher_code.valid  && (airtimeForm.controls.voucher_code.dirty || submitAttempt)">

          <b style=" color: white;">Please enter a valid voucher code.</b>
        </p>
        <br/>

        <ion-item>

          <ion-input type="text" placeholder="Enter amount" formControlName="amount" name="amount" [class.invalid]="!airtimeForm.controls.amount.valid && (airtimeForm.controls.amount.dirty || submitAttempt)"></ion-input>
          <ion-label>
            <ion-icon ios="ios-cash" md="md-cash"></ion-icon>
          </ion-label>
        </ion-item>
        <p *ngIf="!airtimeForm.controls.amount.valid  && (airtimeForm.controls.amount.dirty || submitAttempt)">

          <b style=" color: white;">Please enter a valid amount.</b>
        </p>

        <br/>
        <ion-item [hidden]="!value">
       
          <ion-label> Topup type</ion-label>
          <ion-select formControlName="top_up_option" name="top_up_option" [class.invalid]="!airtimeForm.controls.top_up_option.valid && (airtimeForm.controls.top_up_option.dirty || submitAttempt)">

            <ion-option name="top_up_option" value="Self" selected>Self</ion-option>

          </ion-select>
        </ion-item>
        <br/>
        <br/>

        <p class="pad"> <button ion-button color="dark" [disabled]="!this.airtimeForm.valid" (tap)="summary()">  Top up My Phone </button>
          <p *ngIf="telco == 'VOD'"> <button ion-button color="dark" (tap)="call('*110#')">  Generate Voucher code </button>
          </p>
      </ion-list>
    </ion-card>

  </form>
</ion-content>