
<ion-header>

  <ion-navbar>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content  class="img">
 <!--<ion-card>-->
  
    <ion-card-header class="pad">
   <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>
<ion-card>
    <img src="assets/icon/map.jpg"/>
 </ion-card> 

 <ion-card>
     <!--<ion-list>-->
     
  <ion-card-content>

     <!--<ion-item>-->
  <ion-icon ios="ios-compass" md="md-compass"> Address</ion-icon>
  <h4>Room 302</h4>
   <h4>Mabani Plaza</h4>
    <h4>158 North Labone Housing Estate</h4>
     <h4>Greater Accra, Ghana.</h4>
   
<!--</ion-item>-->
</ion-card-content>
  <!--</ion-list>-->
 </ion-card> 

<ion-card>
   <ion-list>
     
  <ion-card-content>

    



       <ion-item>
  <ion-icon name="call" ></ion-icon>
  <b>Mobile number</b>: <a  (tap)="call('0561474747')">0561474747</a>

  
  
</ion-item>

       <ion-item>
  <ion-icon name="mail" ></ion-icon>
  <b>Email</b>: info@alexpay.africa
  
</ion-item>
       <ion-item>
  <ion-icon name="aperture"></ion-icon>
  <b>Website</b>: <a href="www.alexpay.africa">www.alexpay.africa</a> 
  
</ion-item>
   
     </ion-card-content>
  </ion-list>
   </ion-card>





 

</ion-content>


