<ion-header>
  <ion-navbar>
    <ion-title> Menu </ion-title>

     <ion-buttons end>
      <button ion-button icon-only (tap)="showConfirm()">
       Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="img">

  <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>


<ion-card-content  >




 <ion-grid>
    
  <ion-row  class="row">
    
 
 <ion-col col-6> <img src="assets/icon/transfer.svg" height="100px" width="100px" (tap)="transfer()" /><figcaption><b style=" color: white;">Send Money</b></figcaption></ion-col>
   <ion-col col-6> <img src="assets/icon/bill.svg" height="100px" width="100px" (tap)="bill()"/><figcaption><b style=" color: white;">Bill Payment</b></figcaption></ion-col>
   <ion-col col-6><img src="assets/icon/up.svg" height="100px" width="100px" (tap)="airtime()" /><figcaption><b style=" color: white;">Airtime Topup</b></figcaption> </ion-col>
     <ion-col col-6><img src="assets/icon/summary.svg" height="100px" width="100px" (tap)="summary()"/><figcaption><b style=" color: white;">Transaction History</b></figcaption> </ion-col>  
     <ion-col col-6><img src="assets/icon/profile.svg" height="100px" width="100px"  (tap)="profile()" /><figcaption><b style=" color: white;">Profile</b></figcaption> </ion-col>
   <ion-col col-6><img src="assets/icon/bal.svg" height="100px" width="100px" (tap)="balance()"/><figcaption><b  style=" color: white;">My Account Balance</b></figcaption> </ion-col>  
      

    
  </ion-row>
  
</ion-grid>


 </ion-card-content>

</ion-content>
