page-home {

    .row{


        padding-left: 0px;
         -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
         text-align: center;
       
    }

//     .col{
// border: 2px solid black;
// }

   .pad{
 text-align:center;
}



  .img{

 /* The image used */
    background-image: url("../assets/icon/green.png");
   
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    

    }



}
