<!--<ion-header>
  <ion-navbar>
    <ion-title> Airtime Options </ion-title>
  </ion-navbar>
</ion-header>-->
<ion-header>
  <ion-navbar>
    <ion-title> Airtime Options </ion-title>

     <ion-buttons end>
      <button ion-button icon-only (tap)="showConfirm()">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="img" >

  <ion-card-header class="pad">
   <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>
<br/>



<ion-card-content >

 <ion-grid>
    
  <ion-row  class="row">
    

     <ion-col col-6><img src="assets/icon/self.svg" height="100px" width="100px" (tap)="self()"/><figcaption><b  style=" color: white;">Topup My Phone </b></figcaption> </ion-col>
      <ion-col col-6><img src="assets/icon/other.png" height="100px" width="100px" (tap)="other()"/><figcaption><b  style=" color: white;">Send Airtime</b></figcaption> </ion-col>  
    
  </ion-row>
  
</ion-grid>


 </ion-card-content>

</ion-content>
