
<ion-header>

  <ion-navbar>
    <ion-title> Deposit</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img" >

     <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>
 <!--<ion-card>-->
 <form [formGroup]="depositForm" >
  <ion-card-header>
    
  </ion-card-header> 
 <ion-card>
   <ion-list >
 
 

<ion-item  *ngIf=" telco == 'VOD'">
    
   <ion-input type="text" placeholder="Enter voucher code" formControlName= "voucher_code"  name="voucher_code" [class.invalid]="!depositForm.controls.voucher_code.valid && (depositForm.controls.voucher_code.dirty || submitAttempt)"></ion-input>
   <ion-label> <ion-icon ios="ios-code" md="md-code"></ion-icon></ion-label>
  </ion-item>

   <p  *ngIf="!depositForm.controls.voucher_code.valid  && (depositForm.controls.voucher_code.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid voucher code.</b>
                </p>
  <br/>

 <ion-item>
    
   
    <ion-input type="text" placeholder="Enter amount" formControlName= "amount"  name="amount" [class.invalid]="!depositForm.controls.amount.valid && (depositForm.controls.amount.dirty || submitAttempt)"></ion-input>
     <ion-label> <ion-icon ios="ios-cash" md="md-cash"></ion-icon></ion-label>
  </ion-item>
   <p  *ngIf="!depositForm.controls.amount.valid  && (depositForm.controls.amount.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid amount.</b>
                </p>


 <br/>
 <br/>

  <p class="pad">  <button ion-button color="dark" [disabled]="!this.depositForm.valid" (tap)="summary()" > Transfer to my ALEXpay Wallet  </button>
     <p class="pad" *ngIf="telco == 'VOD'">  <button ion-button color="dark" (tap)="call('*110#')" >  Generate Voucher code </button>
</p>
</ion-list>
 </ion-card>

</form>
</ion-content>

