
<ion-header>

  <ion-navbar>
    <ion-title>Self withdrawal</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img">
     <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>
 <!--<ion-card>-->
  <form  >
  <ion-card-header>
    
  </ion-card-header> 
<ion-card>
   <ion-list >
 
  
   <ion-item> 
    <ion-label><ion-icon ios="ios-keypad" md="md-keypad" ></ion-icon> Sender Network</ion-label>
  <ion-select [(ngModel)]="params.telco" name="telco">
    <ion-option [(ngModel)]="params.telco" name="telco" value="MTN" ngDefaultControl>MTN</ion-option>
    <ion-option [(ngModel)]="params.telco" name="telco" value="TIG" ngDefaultControl>TIG</ion-option>
    <ion-option [(ngModel)]="params.telco" name="telco" value="VOD" ngDefaultControl>VOD</ion-option>
    <ion-option [(ngModel)]="params.telco" name="telco" value="AIR" ngDefaultControl>AIR</ion-option>
  </ion-select>
</ion-item>
<br/>

 <ion-item>
   
    <ion-input type="text" placeholder="Enter amount" [(ngModel)]="params.amount" name="amount"></ion-input>
     <ion-label> <ion-icon ios="ios-cash" md="md-cash"></ion-icon></ion-label>
  </ion-item>


 <br/>
 <br/>

  <p class="pad">  <button ion-button color="dark" (tap)="summary()" >  Withdraw  </button>
</p>
</ion-list>
</ion-card>

</form>
</ion-content>

