
<ion-header>

  <ion-navbar>
    <ion-title> Deposit to others</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="img">
   <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>

 <form  [formGroup]="depositOtherForm" >
  <ion-card-header>
    
  </ion-card-header> 
<ion-card>
   <ion-list >



   <ion-item>
 <ion-input type="text" placeholder="Enter receiver's number" formControlName= "recipient_number"  name="recipient_number" [class.invalid]="!depositOtherForm.controls.recipient_number.valid && (depositOtherForm.controls.recipient_number.dirty || submitAttempt)"></ion-input>
  <ion-label> <ion-icon name="ios-phone-portrait"></ion-icon></ion-label>
  </ion-item>

    <p  *ngIf="!depositOtherForm.controls.recipient_number.valid  && (depositOtherForm.controls.recipient_number.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid recipient number.</b>
                </p>
 
  
  <br/>
   <ion-item> 
  <ion-label> Receiver's Network</ion-label>
 <ion-select formControlName= "recipient_telco"  name="recipient_telco" [class.invalid]="!depositOtherForm.controls.recipient_telco.valid && (depositOtherForm.controls.recipient_telco.dirty || submitAttempt)">
     <ion-option formControlName= "recipient_telco" name="recipient_telco" value="MTN" ngDefaultControl>MTN</ion-option>
    <ion-option formControlName= "recipient_telco" name="recipient_telco" value="TIG" ngDefaultControl>TIGO</ion-option>
    <ion-option formControlName= "recipient_telco" name="recipient_telco" value="VOD" ngDefaultControl>VODAFONE</ion-option>
    <ion-option formControlName= "recipient_telco" name="recipient_telco" value="AIR" ngDefaultControl>AIRTEL</ion-option>
     <ion-option formControlName= "recipient_telco" name="ALEXpay" value="ALEXpay" ngDefaultControl>ALEXpay</ion-option>
  </ion-select>
</ion-item>
<br/>
<ion-item>
   
   
    <ion-input type="text" placeholder="Enter amount" formControlName= "amount"  name="amount" [class.invalid]="!depositOtherForm.controls.amount.valid && (depositOtherForm.controls.amount.dirty || submitAttempt)"></ion-input>
     <ion-label> <ion-icon ios="ios-cash" md="md-cash"></ion-icon></ion-label>
  </ion-item>
   <p  *ngIf="!depositOtherForm.controls.amount.valid  && (depositOtherForm.controls.amount.dirty || submitAttempt)">
                    
       <b style=" color: white;">Please enter a valid amount.</b>

  </p>
<br/>



 <br/>
 <br/>

 <p  *ngIf= "depositOtherForm.controls.recipient_telco.value =='ALEXpay' " > <button ion-button color="dark" [disabled]="!this.depositOtherForm.valid"  (tap)="summary()" > Transfer to other ALEXpay wallet  </button>
  
  <p class="pad" *ngIf="depositOtherForm.controls.recipient_telco.value == 'AIR'">  <button ion-button color="dark" [disabled]="!this.depositOtherForm.valid" (tap)="summary2()" >  Transfer funds to others  </button>
  <p class="pad" *ngIf="depositOtherForm.controls.recipient_telco.value == 'TIG'">  <button ion-button color="dark" [disabled]="!this.depositOtherForm.valid" (tap)="summary2()">  Transfer funds to others  </button>
  <p class="pad" *ngIf="depositOtherForm.controls.recipient_telco.value == 'VOD'">  <button ion-button color="dark" [disabled]="!this.depositOtherForm.valid" (tap)="summary2()" >  Transfer funds to others  </button>
    <p class="pad" *ngIf="depositOtherForm.controls.recipient_telco.value =='MTN'">  <button ion-button color="dark" [disabled]="!this.depositOtherForm.valid"  (tap)="summary2()" > Transfer funds to others  </button>
</p>

 
</ion-list>
</ion-card>

</form>
</ion-content>

