page-virtual-option {

      .row{


        padding-left: 20px;
        -webkit-flex-wrap: wrap;
flex-wrap: wrap;
       
    }

//     .col{
// border: 2px solid black;
// }

    .pad{
// padding-left: 50px;
 text-align:center;
}

.img{

 /* The image used */
    background-image: url("../assets/icon/green.png");
   
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     align-content: center;
    text-align:center;

    

    }


}
