<ion-header>
  <ion-navbar>
    <ion-title> Send / Withdraw </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (tap)="showConfirm()">
       logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="img" >

  <ion-card-header class="pad">
  <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>
 


<ion-card-content >

 <ion-grid>
    
  <ion-row  class="row">
    

     <ion-col col-6><img src="assets/icon/deposit.svg" height="100px" width="100px" (tap)="deposit()"/><figcaption><b  style=" color: white;">Send to My Account</b></figcaption></ion-col>
      <!--<ion-col col-6><img src="assets/icon/atm.svg" height="100px" width="100px" (click)="withdraw()"/><figcaption><b  style=" color: white;">Withdraw</b></figcaption> </ion-col> -->
       <ion-col col-6><img src="assets/icon/other.png" height="100px" width="100px" (tap)="transfer_out()"/><figcaption><b  style=" color: white;">Send from My ALEXpay Account</b></figcaption> </ion-col> 
          <ion-col col-6><img src="assets/icon/connection.png" height="100px" width="100px" (tap)="transfer_2()"/><figcaption><b  style=" color: white;">Send from Mobile Money</b></figcaption> </ion-col> 
      <!--<ion-col col-6><img src="assets/icon/bal.svg" height="100px" width="100px" (click)="balance()"/><figcaption><b  style=" color: white;">My Account Balance</b></figcaption> </ion-col>   -->
    
  </ion-row>
  
</ion-grid>


 </ion-card-content>

</ion-content>
