page-history {

           .pad{

       text-align:center;

    }

    .img{

 /* The image used */
    background-image: url("../assets/icon/green.png");
   
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    

     }

//     ion-item {
//   -moz-border-radius: 15px;
//  border-radius: 15px;
//     // border:solid 1px black;
//     padding:5px;
//     padding-left: 40px;
//     width: 300px;
//     height: 40px;
    
// }

//  ion-card.card{
//         box-shadow: none;
//         background:none;
//         border-radius: 5px;
//          padding-left: 10px;
//     }

}
