

<ion-header>

  <ion-navbar>
    <ion-title>Transaction History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img"  >

   <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/> 
  </ion-card-header>


<ion-card-content  >
<ion-toolbar  color="light">

  <ion-segment [(ngModel)]="pet" color="dark">
    <ion-segment-button value="transfer" (tap)= "f_history()" >
      Transfer
    </ion-segment-button>

    <ion-segment-button value="alex" (tap)= "v_history()">
      ALEXpay 
    </ion-segment-button> 

     <ion-segment-button value="topup" (tap)= "t_history()">
      Top up
    </ion-segment-button> 

     <ion-segment-button value="bill" (tap)= "b_history()">
      Bill
    </ion-segment-button> 
  </ion-segment>

</ion-toolbar>
</ion-card-content  >


<div [ngSwitch]="pet">
  <ion-list *ngSwitchCase="'alex'">
    <ion-list *ngFor="let alex_item of data"     >

   
   <ion-card-content  >
     <ion-card >
    <ion-grid>
      <ion-row >
      
     <ion-col col-2 *ngIf=" alex_item.telco == 'MTN'"><h4><ion-avatar ><img src="assets/icon/mtn_logo.jpg" height="100px" width="800px"/></ion-avatar ></h4> </ion-col>
     <ion-col col-2 *ngIf=" alex_item.telco == 'AIR'"><h4><img src="assets/icon/airtel.jpg" height="100px" width="100px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" alex_item.telco == 'VOD'"><h4><img src="assets/icon/vodafone1.png" height="100px" width="900px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" alex_item.telco == 'TIG'"><h4><img src="assets/icon/tigo.jpg" height="100px" width="100px"/></h4> </ion-col>
     
     <ion-col col-10> 
       <ion-item  > 
    <h4>Mobile No: {{ alex_item.mobile_number}}</h4> 
     <h4>Transacton ID: {{ alex_item.ack_code}}</h4> 
     <h4>Amount: {{ alex_item.amount}}</h4> 
   
      <h4>Recipient No: {{ alex_item.recipient_number}}</h4> 
      <h4>Transaction Type: {{ alex_item.trans_type}}</h4> 
      <h4>Source: {{ alex_item.src}}</h4> 
      
       <h4>Transaction Date: {{ alex_item.created_at}}</h4> 
        </ion-item>
      </ion-col> 

        </ion-row>
        </ion-grid>
   </ion-card>
     </ion-card-content>



 </ion-list>
  </ion-list>





 <ion-list  *ngSwitchCase="'transfer'"   >
<ion-list *ngFor="let item of data"     >

   
   <ion-card-content  >
     <ion-card >
    <ion-grid>
      <ion-row >
      
     <ion-col col-2 *ngIf=" item.telco == 'MTN'"><h4><img src="assets/icon/mtn_logo.jpg" height="100px" width="800px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" item.telco == 'AIR'"><h4><img src="assets/icon/airtel.jpg" height="100px" width="100px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" item.telco == 'VOD'"><h4><img src="assets/icon/vodafone1.png" height="100px" width="900px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" item.telco == 'TIG'"><h4><img src="assets/icon/tigo.jpg" height="100px" width="100px"/></h4> </ion-col>
     
     <ion-col col-10> 
       <ion-item  > 
    <h4>Mobile No: {{ item.mobile_number}}</h4> 
     <h4>Transacton ID: {{ item.ack_code}}</h4> 
     <h4>Amount: {{ item.amount}}</h4> 
   
      <h4>Recipient No: {{ item.recipient_number}}</h4> 
      
      
       <h4>Transaction Date: {{ item.created_at}}</h4> 
        </ion-item>
      </ion-col> 

        </ion-row>
        </ion-grid>
   </ion-card>
     </ion-card-content>



 </ion-list>
  </ion-list>


 <ion-list  *ngSwitchCase="'topup'"   >
<ion-list *ngFor="let top of data"     >

   
   <ion-card-content  >
     <ion-card >
    <ion-grid>
      <ion-row >
      
     <ion-col col-2 *ngIf=" top.telco == 'MTN'"><h4><img src="assets/icon/mtn_logo.jpg" height="100px" width="800px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" top.telco == 'AIR'"><h4><img src="assets/icon/airtel.jpg" height="100px" width="100px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" top.telco == 'VOD'"><h4><img src="assets/icon/vodafone1.png" height="100px" width="900px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" top.telco == 'TIG'"><h4><img src="assets/icon/tigo.jpg" height="100px" width="100px"/></h4> </ion-col>
     
     <ion-col col-10> 
       <ion-item  > 
    <h4>Mobile No: {{ top.mobile_number}}</h4> 
     <h4>Transacton ID: {{ top.ack_code}}</h4> 
     <h4>Amount: {{ top.amount}}</h4> 
   
      <h4>Recipient No: {{ top.recipient_number}}</h4> 
       <h4>Topup option: {{ top.top_up_option}}</h4> 
      
       <h4>Transaction Date: {{ top.created_at}}</h4> 
        </ion-item>
      </ion-col> 

        </ion-row>
        </ion-grid>
   </ion-card>
     </ion-card-content>



 </ion-list>
  </ion-list>





<ion-list  *ngSwitchCase="'bill'"   >
<ion-list *ngFor="let item of data"     >

   
   <ion-card-content  >
     <ion-card >
    <ion-grid>
      <ion-row >
      
     <ion-col col-2 *ngIf=" item.telco == 'MTN'"><h4><img src="assets/icon/mtn_logo.jpg" height="100px" width="800px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" item.telco == 'AIR'"><h4><img src="assets/icon/airtel.jpg" height="100px" width="100px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" item.telco == 'VOD'"><h4><img src="assets/icon/vodafone1.png" height="100px" width="900px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" item.telco == 'TIG'"><h4><img src="assets/icon/tigo.jpg" height="100px" width="100px"/></h4> </ion-col>
     
     <ion-col col-10> 
       <ion-item  > 
    <h4>Mobile No: {{ item.mobile_number}}</h4> 
     <h4>Transacton ID: {{ item.ack_code}}</h4> 
     <h4>Amount: {{ item.amount}}</h4> 
   
      <h4>Bill Type: {{ item.bill_type}}</h4> 
      <h4>Smart Card No: {{ item.smart_card_num}}</h4>
      
       <h4>Transaction Date: {{ item.created_at}}</h4> 
        </ion-item>
      </ion-col> 

        </ion-row>
        </ion-grid>
   </ion-card>
     </ion-card-content>



 </ion-list>
  </ion-list>





</div>


</ion-content>


