
<ion-header>

  <ion-navbar>
    <ion-title>Transaction History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img"  >

   <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>



 <ion-list  *ngFor="let item of list"  >

   
   <ion-card-content  >
     
    <ion-grid>
      <ion-row >
      
     <ion-col col-2 *ngIf=" item.telco == 'MTN'"><h4><img src="assets/icon/mtn_logo.svg" height="100px" width="100px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" item.telco == 'AIR'"><h4><img src="assets/icon/airtel.jpg" height="100px" width="100px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" item.telco == 'VOD'"><h4><img src="assets/icon/voda.jpg" height="100px" width="800px"/></h4> </ion-col>
     <ion-col col-2 *ngIf=" item.telco == 'TIG'"><h4><img src="assets/icon/tigo.jpg" height="100px" width="100px"/></h4> </ion-col>
     
     <ion-col col-10> 
       <ion-item  > 
    <h4>Mobile number: {{ item.mobile_number}}</h4> 
     <h4>Transacton ID: {{ item.ack_code}}</h4> 
     <h4>Amount: {{ item.amount}}</h4> 
     <!--<h4>Sender name: {{ item.sender_name}}</h4> -->
     <h4>Sender Network: {{ item.telco}}</h4> 
      <h4>Recipient number: {{ item.recipient_number}}</h4> 
       <!--<h4>Recipient network: {{ item.recipient_telco}}</h4> -->
       <h4>Transactiion Date: {{ item.created_at}}</h4> 
        </ion-item>
      </ion-col> 

        </ion-row>
        </ion-grid>
   
     </ion-card-content>
  </ion-list>


</ion-content>
