page-transaction-history {

        .img{

 
    background-image: url("../assets/icon/green.png");
   
    // height: 100%;

    // /* Center and scale the image nicely */
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    

    }


// ion-col.col{
//         box-shadow: none;
//         background-color: none;
//         border-radius: 5px;
//          padding-left: 10px;
//     }
}
