
<!--<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/icon/he.jpg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>-->

<ion-header>

  <ion-navbar>
    <ion-title>ALEXpay</ion-title>
  </ion-navbar>

</ion-header>


<ion-content [@flyInBottomFast]="logoState" class="img1">
    <!--<ion-card-header >
    <img src="assets/icon/logo.png" height="50px" width="120px"/>
  </ion-card-header>-->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


  <img [@bounceInBottom]="logoState" src="assets/icon/logo.png" height="100px" width="350px" class="img"/>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p class="pad"> <button ion-button color="secondary" (tap)="login()" [@fadeIn]="loginState">Login</button>
  <button ion-button color="dark"  (tap)="signup()" [@fadeIn]="loginState">Subscribe</button></p>



 <!--<ion-grid>
    
  <ion-row  class="row">
 
<ion-col col-6><img src="assets/icon/ok.svg" height="100px" width="100px" (click)="virtual()" /><figcaption><b  style=" color: white;">Virtual Account</b></figcaption></ion-col>
 <ion-col col-6> <button ion-button color="secondary" (click)="login()" [@fadeIn]="loginState">Login</button></ion-col>
  <ion-col col-6> <button ion-button color="gold"  (click)="signup()" [@fadeIn]="loginState">Subscribe</button></ion-col>

  </ion-row>
  
</ion-grid>-->





</ion-content>
