
<ion-header>

  <ion-navbar>
    <ion-title>Summary</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar> 

</ion-header>


<ion-content class="img">

   <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>

  <form *ngFor="let item of list" >

   <ion-list   >

   
   <ion-card-content  >
     
    <ion-grid>
      <ion-row >
     
     <ion-col col-12> 
       <ion-item  > 
        

        <h4 >Sender Name: {{ item.sender_name}}</h4> 
    <h4 > Sender No: {{ item.msisdn}}</h4> 
   <h4 >Sender Network: {{ item.telco}}</h4> 
   
   <!--<h4 >Voucher: {{ item.voucher_code}}</h4> -->
    <h4 > Transfer Amount: GHC {{ item.amount}}</h4> 
    <h4>ALEXpay Charges: GHC {{getChargedAMount( item.amount )}}</h4> 
     <h4>Total Amount: GHC {{totalAMount( item.amount)}}</h4> 
     <h4 >Recipient No:{{ item.recipient_number}}</h4>  
      <h4>Recipient Network: {{ item.recipient_telco}}</h4> 
      
        </ion-item>
      </ion-col> 

        </ion-row>
        </ion-grid>
   
     </ion-card-content>
  </ion-list>
<p class="pad"> <button ion-button color="secondary" (tap)="confirm(item)">Confirm</button>
 <!--<button ion-button color="dark" (click)="back()" >Cancel</button>  -->
</form>

</ion-content>
