page-summary {



        .img{

 
    background-image: url("../assets/icon/green.png");
   
    // height: 100%;

    // /* Center and scale the image nicely */
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    

    }

       .pad{

        // padding-right: 1000px;
       text-align:center;

    }


}
