
<ion-header>

  <ion-navbar>
    <ion-title>Subscribe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img" >

    <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>
 <form [formGroup]="signupForm" >
  <ion-card-header>
    
  </ion-card-header> 
 <ion-card>
   <ion-list >

  <ion-item>
   
    <ion-input type="text" placeholder="Enter first name" formControlName= "first_name"  name="first_name" [class.invalid]="!signupForm.controls.first_name.valid && (signupForm.controls.first_name.dirty || submitAttempt)"></ion-input>
      <ion-label><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-label>
 
 
  </ion-item>
 

   <p  *ngIf="!signupForm.controls.first_name.valid  && (signupForm.controls.first_name.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid first name.</b>
                </p>
  <br/>

   <ion-item>
 
    <ion-input type="text" placeholder="Enter last name" formControlName= "last_name" name="last_name" [class.invalid]="!signupForm.controls.last_name.valid && (signupForm.controls.last_name.dirty || submitAttempt)"></ion-input>
    <ion-label><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-label>
  </ion-item>
 
  
                 <p  *ngIf="!signupForm.controls.last_name.valid  && (signupForm.controls.last_name.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid last name.</b>
                </p>
  <br/>

  <ion-item>
   
    <ion-input type="text" placeholder="Enter mobile number" formControlName= "msisdn"  name="msisdn" [class.invalid]="!signupForm.controls.msisdn.valid && (signupForm.controls.msisdn.dirty || submitAttempt)"></ion-input>
 
     <ion-label> <ion-icon name="ios-phone-portrait"></ion-icon></ion-label>
    
  </ion-item>
  
                 <p  *ngIf="!signupForm.controls.msisdn.valid  && (signupForm.controls.msisdn.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid number.</b>
                </p>
  
  <br/>
    <ion-item> 
   <ion-label> Mobile Network</ion-label>
 <ion-select formControlName= "telco"  name="telco" [class.invalid]="!signupForm.controls.telco.valid && (signupForm.controls.telco.dirty || submitAttempt)">
     <ion-option formControlName="telco" name="telco" value="MTN" ngDefaultControl>MTN</ion-option>
    <ion-option formControlName="telco" name="telco" value="TIG" ngDefaultControl>TIG0</ion-option>
    <ion-option formControlName="telco" name="telco" value="VOD" ngDefaultControl>VODAFONE</ion-option>
    <ion-option formControlName="telco" name="telco" value="AIR" ngDefaultControl>AIRTEL</ion-option>
  </ion-select>
</ion-item>
 <p  *ngIf="!signupForm.controls.telco.valid  && (signupForm.controls.telco.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please select telco.</b>
                </p>
<br/>

   <ion-item>
  
    <ion-input type="text"  placeholder="Other mobile number(optional)*" formControlName="alt_mobile_number" name="alt_mobile_number"></ion-input>
    <ion-label> <ion-icon name="ios-phone-portrait"></ion-icon></ion-label>
  </ion-item>
<br/>
 

 <br/>
 <br/>

  <p class="pad">  <button ion-button color="dark" [disabled]="!this.signupForm.valid" (tap)="signup()" >  Subscribe  </button>
<!--[disabled]="!this.signupForm.valid"-->
</p>
</ion-list>
 </ion-card>

 

 
</form>

</ion-content>








