
<ion-header>

  <ion-navbar>
    <ion-title>Verification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img" >

    <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>
 <form [formGroup]="verifyForm" >
  <ion-card-header>
    
  </ion-card-header> 
 <ion-card>
   <ion-list >

 
   <ion-item>
 
    <ion-input type="text" placeholder="Enter verification code" formControlName= "auth_code"  name="auth_code" [class.invalid]="!verifyForm.controls.auth_code.valid && (verifyForm.controls.auth_code.dirty || submitAttempt)"></ion-input>
 
     <ion-label> <ion-icon name="ios-unlock"></ion-icon></ion-label>
    
  </ion-item>
<!--  
                 <p  *ngIf="!verifyForm.controls.auth_code.valid  && (verifyForm.controls.msisdn.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid number.</b>
                </p>-->
  

 

 <br/>
 <br/>

  <p class="pad">  <button ion-button color="dark" [disabled]="!this.verifyForm.valid" (tap)="verify()" >  Verify  </button>

</p>
</ion-list>
 </ion-card>

 

 
</form>

</ion-content>








