
<ion-header>

  <ion-navbar>
    <ion-title>Airtime to Others </ion-title>
  </ion-navbar>

</ion-header>

<ion-content  class="img" >

     <ion-card-header class="pad">
    <img src="assets/icon/whitelog.png" height="60px" width="200px"/>
  </ion-card-header>

  <form [formGroup]="airtimeOtherForm"  >
  <ion-card-header>
    
  </ion-card-header> 
<ion-card>
   <ion-list >


<ion-item  *ngIf=" telco == 'VOD'">
 
   <ion-input type="text" placeholder="Enter voucher code" formControlName= "voucher_code"  name="voucher_code" [class.invalid]="!airtimeOtherForm.controls.voucher_code.valid && (airtimeOtherForm.controls.voucher_code.dirty || submitAttempt)"></ion-input>
   <ion-label> <ion-icon ios="ios-code" md="md-code"></ion-icon></ion-label>
  </ion-item>

   <p  *ngIf="!airtimeOtherForm.controls.voucher_code.valid  && (airtimeOtherForm.controls.voucher_code.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid voucher code.</b>
                </p>
  <br/>

  <ion-item>
 
    <ion-input type="text" placeholder="Enter receiver's number" formControlName= "recipient_number"  name="recipient_number" [class.invalid]="!airtimeOtherForm.controls.recipient_number.valid && (airtimeOtherForm.controls.recipient_number.dirty || submitAttempt)"></ion-input>
  <ion-label> <ion-icon name="ios-phone-portrait"></ion-icon></ion-label>
  </ion-item>

    <p  *ngIf="!airtimeOtherForm.controls.recipient_number.valid  && (airtimeOtherForm.controls.recipient_number.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid recipient number.</b>
                </p>
  <br/>

<ion-item> 
   <ion-label> Receiver's Network</ion-label>
 <ion-select formControlName= "recipient_telco"  name="recipient_telco" [class.invalid]="!airtimeOtherForm.controls.recipient_telco.valid && (airtimeOtherForm.controls.recipient_telco.dirty || submitAttempt)">
     <ion-option formControlName= "recipient_telco" name="recipient_telco" value="MTN" ngDefaultControl>MTN</ion-option>
     <ion-option formControlName="recipient_telco" name="recipient_telco" value="TIG" ngDefaultControl>TIGO</ion-option>
    <ion-option formControlName= "recipient_telco" name="recipient_telco" value="VOD" ngDefaultControl>VODAFONE</ion-option>
    <ion-option formControlName= "recipient_telco" name="recipient_telco" value="AIR" ngDefaultControl>AIRTEL</ion-option>
  </ion-select>
</ion-item>
<br/>

  <ion-item>
   
    <ion-input type="text" placeholder="Enter amount" formControlName= "amount"  name="amount" [class.invalid]="!airtimeOtherForm.controls.amount.valid && (airtimeOtherForm.controls.amount.dirty || submitAttempt)"></ion-input>
     <ion-label> <ion-icon ios="ios-cash" md="md-cash"></ion-icon></ion-label>
  </ion-item>
   <p  *ngIf="!airtimeOtherForm.controls.amount.valid  && (airtimeOtherForm.controls.amount.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Please enter a valid amount.</b>
                </p>
  <br/>

 <ion-item [hidden]="!value"> 
  <ion-label> Topup Type</ion-label>
  <ion-select formControlName= "top_up_option"  name="top_up_option" [class.invalid]="!airtimeOtherForm.controls.top_up_option.valid && (airtimeOtherForm.controls.top_up_option.dirty || submitAttempt)">

     <ion-option  name="top_up_option" value="Others" selected >Others</ion-option>
   
  </ion-select>
</ion-item>


 <br/>
 <br/>


  <p class="pad">  <button ion-button color="dark" [disabled]="!this.airtimeOtherForm.valid" (tap)="summary()">  Top up Another Phone  </button>
     <p  *ngIf="telco == 'VOD'">  <button ion-button color="dark" (tap)="call('*110#')" >  Generate Voucher code </button>
</p>
</ion-list>
</ion-card>
</form>
</ion-content>

